.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    margin: 10px auto;

}
.btn{
    width: 40%;
    height: 40px;
    border-radius: 3px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: large;
}
.form,label{
    width: 20%;
    height: 50px;
}
.section,option{
width: 20%;
height: 50px;
}
.output{
    margin: 12px auto;
}
.output,table{
    width: 50vw;
    text-align: center;
    margin: 20px auto;
   
}